# Пропущенные значения

In [1]:
import pandas as pd
import numpy as np

bikes = pd.read_pickle('BikesDataVars.pkl')
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,Normal Humidity,Temperature Category,Good Weather
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257,0,Freezing,0
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219,0,Freezing,0
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162,0,Freezing,0
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148,1,Freezing,0
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97,0,Freezing,0

In [2]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8760 non-null   datetime64[ns]
 1   Hour                  8760 non-null   int64
 2   Temperature           8581 non-null   float64
 3   Humidity              8760 non-null   int64
 4   Wind speed            8760 non-null   float64
 5   Rainfall              8760 non-null   float64
 6   Snowfall              8760 non-null   float64
 7   Seasons               8760 non-null   object
 8   Holiday               8760 non-null   int64
 9   Functioning Day       8760 non-null   bool
 10  Rental Count          8760 non-null   int64
 11  Normal Humidity       8760 non-null   int64
 12  Temperature Category  8581 non-null   category
 13  Good Weather          8760 non-null   int64
dtypes: bool(1), category(1), datetime64[ns](1), float64(4), int64(6), object(1)
memory usage: 838.7+ KB

In [3]:
bikes.isna().sum()

Date                      0
Hour                      0
Temperature             179
Humidity                  0
Wind speed                0
Rainfall                  0
Snowfall                  0
Seasons                   0
Holiday                   0
Functioning Day           0
Rental Count              0
Normal Humidity           0
Temperature Category    179
Good Weather              0
dtype: int64

In [4]:
bikes[bikes['Temperature'].isna()].shape

(179, 14)

In [5]:
type(bikes[bikes['Temperature'].isna()]['Temperature'][39])

numpy.float64

In [6]:
bikes[bikes['Temperature'].notna()].shape

(8581, 14)

In [7]:
bikes.dropna(subset=['Temperature']).shape

(8581, 14)

In [ ]:
bikes['Temperature_Median'] = bikes['Temperature'].fillna(42)

In [ ]:
bikes[bikes['Temperature'].isna()].head()

In [ ]:
bikes['Temperature_Median'] = bikes['Temperature'].fillna(bikes['Temperature'].median())

In [ ]:
bikes[bikes['Temperature'].isna()].head()

In [ ]:
bikes.iloc[38:42]

In [ ]:
# hot deck imputation
np.random.choice(bikes['Temperature'].dropna())

In [ ]:
bikes['Temperature_Random'] = bikes['Temperature'].fillna(np.random.choice(bikes['Temperature'].dropna()))
bikes[bikes['Temperature'].isna()].head()

In [9]:
bikes.shape

(8760, 14)

In [8]:
temps = np.random.choice(bikes['Temperature'].dropna(), 8760)
temps[:100]

array([  5.4,  19.4,  19.2,   7.1,  26.8,  18.9,   5.7,  14.1,   0.4,
        18.8,  -3.3,   2.9,  29.4,  -2.1,  -1.8,   3.6,  -0.2,  11. ,
        18.7,  24.2,  -7.7,   4.4,  25.4,  -2.3,  11.4,  27.3,  14.8,
         2.1,  11.6,   1.3,  34.5,  18.5, -10.6,   7.5,  12.6,  -1.9,
         5.5,  26. , -10.4,  28.1,  16.3,  24.6,  22.9,   1.5,  21.7,
        -3.2,  -5.4,  27.7,   9.6,   0.3,   2.7,  30.3,  15.5,  26.8,
         7.8,  33.7,  21.5,   4.3,  24.6,  32.7,  20.5,  -8.1,   7.5,
        -3.5,  -5.3,  27.4,   6.5,  10.8,  25.2,   2.2,  30.8,  29.9,
         5.8,   8.8, -14.3,  24.3,  25.2,  12.2,  28.3,  16.8,  20.8,
        18. ,  17.9,  25.1,  -3.8,  15.1,  -2.4,  -6. ,  -2.6,  24.9,
        14.9,  12.2,  28.5,   4.8,   5.4,   7.9,   5.1,  19.1,   6.4,
        29.8])

In [ ]:
bikes['Temperature_Random'] = bikes['Temperature'].fillna(pd.Series(temps))

In [ ]:
bikes[bikes['Temperature'].isna()].head()

In [ ]:
bikes.iloc[38:42]

In [ ]:
bikes.groupby([bikes['Date'].dt.isocalendar().week, 'Hour'])['Temperature'].median()

In [ ]:
temp_medians = bikes.groupby([bikes['Date'].dt.isocalendar().week, 'Hour'])['Temperature'].transform('median')

In [ ]:
bikes['Temperature_Median_Group'] = bikes['Temperature'].fillna(pd.Series(temp_medians))
bikes[bikes['Temperature'].isna()].head()

In [ ]:
bikes.iloc[38:42]

In [ ]:
bikes.iloc[102:107]

In [ ]:
bikes = pd.read_pickle('Data/BikesDataVars.pkl')
bikes['Temperature'] = bikes['Temperature'].fillna(pd.Series(temp_medians))

In [ ]:
def get_temp_cat(temp):
    if temp < 0:
        return 'Freezing'
    elif temp < 15:
        return 'Chilly'
    elif temp < 26:
        return 'Nice'
    elif temp >= 26:
        return 'Hot'
    else:
        return temp
    
bikes['Temperature Category'] = pd.Categorical(bikes['Temperature'].apply(get_temp_cat))

In [ ]:
bikes.to_pickle('Data/BikesDataImputed.pkl')