In [16]:
import pandas as pd
import numpy as np

marvel = pd.read_excel('C:/Users/user/Juputer/statistics-course/MarvelComicCaracters.xlsx')
marvel.head()

,name,align,eye,hair,sex,appearances,first_appearance
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Нейтральный персонаж,Голубые глаза,Черные волосы,Мужской персонаж,3061.0,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0

In [2]:
marvel['eye'].mode()

0    Голубые глаза
dtype: object

In [7]:
marvel['appearances'].mode()

0    1.0
dtype: float64

In [8]:
marvel[marvel['sex']=='Мужской персонаж']['hair'].mode()

0    Черные волосы
dtype: object

In [10]:
marvel[marvel['sex']=='Женский персонаж']['hair'].mode()

0    Черные волосы
dtype: object

In [13]:
marvel[marvel['sex']=='Мужской персонаж']['hair'].value_counts()

Черные волосы                 2678
Каштановые волосы             1801
Русые волосы                   844
Без волос                      841
Белые волосы                   608
Зеленые волосы                  66
Оранжевые волосы                35
Разноцветные волосы             22
Фиолетовые волосы               19
Светло-розовые волосы           17
Желтые волосы                   16
Розовые волосы                   9
Серебристые волосы               8
Золотые волосы                   7
Светло-каштановые волосы         6
Рыжевато-соломенные волосы       6
Оранжево-каштановые волосы       3
Бронзовые волосы                 1
Пурпурные волосы                 1
Name: hair, dtype: int64

In [14]:
marvel[marvel['align']=='Злой персонаж']['appearances'].median()

3.0

In [33]:
marvel_app = pd.DataFrame(marvel['appearances'])
marvel_app.head()

   appearances
0       4043.0
1       3360.0
2       3061.0
3       2961.0
4       2258.0

In [58]:
marvel_mean = marvel_app.mean()
dev = marvel_app - marvel_mean
sq_dev = dev**2
variance_marvel = sq_dev.sum() / (len(marvel_app) )
std = np.sqrt(variance_marvel)
print(variance_marvel, std)

appearances    8665.577124
dtype: float64 appearances    93.089082
dtype: float64

In [35]:
print(marvel['appearances'].var())
print(marvel['appearances'].var(ddof=0))
print(marvel['appearances'].std())
print(marvel['appearances'].std(ddof=0))

9287.747298761897
9287.139461896795
96.37295937534499
96.36980575832243

In [36]:
marvel['first_appearance'].mode()

0    1993.0
dtype: float64

In [53]:
marvel_5=marvel[500:]
print(marvel_5.shape, marvel_5['eye'].mode())

(15876, 7) 0    Темно-карие глаза
dtype: object

In [54]:
print(marvel.shape, marvel['eye'].mode())

(16376, 7) 0    Голубые глаза
dtype: object

In [55]:
marvel['hair'].mode()

0    Черные волосы
dtype: object

In [56]:
marvel[marvel['hair']=='Черные волосы']['appearances'].std(ddof=0)

94.13253937689935